
body {
    font-family: Arial, sans-serif;
    background-color: #c9a4e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}
.todo-app img{
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    background: transparent;
    font-weight: 14px;
}

button {
    padding: 8px 12px;
    background-color: #0de961;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    user-select: none;
    cursor: pointer;
}
li {
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
